<!--OFF DAY MODAL START-->
<ng-template #offDayContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Date Setting</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  <div class="row">
    <div class="col col-md-5">
        <div class="card mb-3">
            <div class="card-block">
                <div class="tinggi">
                    <form [formGroup]="formOffDate">
                        <div class="form-content">

                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="input-group">
                                    <input 
                                        formControlName="startDate" 
                                        class="form-control"
                                        placeholder="yyyy-mm-dd"
                                        ng-model="startDate" 
                                        (click)="startDate.toggle()"
                                        ngbDatepicker 
                                        #startDate="ngbDatepicker"
                                    >
                                    <div class="input-group-addon" (click)="startDate.toggle()" >
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label>End Date</label>
                                    <div class="input-group">
                                        <input 
                                            formControlName="endDate" 
                                            class="form-control"
                                            placeholder="yyyy-mm-dd"
                                            (click)="endDate.toggle()"
                                            ng-model="endDate" 
                                            ngbDatepicker 
                                            #endDate="ngbDatepicker"
                                        >
                                        <div class="input-group-addon" (click)="endDate.toggle()" >
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label>Note</label><br>
                                        <textarea 
                                            id="note"
                                            formControlName="node"
                                            cols="70"
                                            class="form-control"
                                            formControlName="note"
                                            #note></textarea>
                                </div>
                            <br><br>
                            <button class="btn btn-primary pull-right" (click)="pushDay(2)"> Set On Date </button>
                            <button class="btn btn-primary pull-right" style="margin-right:3px;" (click)="pushDay(1)"> Set Off Date </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-md-7">
        <div class="card mb-3">
            <div class="card-block">
              <div class="overflow">

                <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Information</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of OFF_DATE_DATA">
                            <td>{{item.custom_date_date}}</td>
                            <td *ngIf="item.custom_date_status == true">ON</td>
                            <td *ngIf="item.custom_date_status == false">OFF</td>
                            <td>{{item.custom_date_note}}</td>
                            <td>
                                <button class="btn btn-danger btn-block" (click)="deleteDay(item.custom_date_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                  </table>

              </div>
            </div>
        </div>
    </div>
  </div>

  </div>
  <div class="modal-footer">

  </div>
</ng-template>
<!--OFF DAY ADD MODAL END-->

<button class="btn btn-default" (click)="open(offDayContent)">Date Setting</button>