<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <div *ngIf="this.forms.get('fullName').touched && this.forms.get('fullName').invalid" class="alert alert-danger">Your Fullname must be at least 5 - 50 characters</div>
            <div *ngIf="this.forms.get('username').touched && this.forms.get('username').invalid" class="alert alert-danger">Your Username must be at least 5 characters</div>
            <div *ngIf="employeeAlready" class="alert alert-danger">Employee ID already exists</div>
            <div *ngIf="this.forms.get('employeeId').touched && this.forms.get('employeeId').invalid" class="alert alert-danger">Your Employee ID must be at least 5 – 20 characters</div>
            <div *ngIf="this.forms.get('password').touched && this.forms.get('password').invalid" class="alert alert-danger">Your Password must be at least 8 characters</div>
            <div *ngIf="passMatch" class="alert alert-danger">Your password and confirmation password do not match</div>
            <div *ngIf="confirm" class="alert alert-danger">confirm password doesn't match</div>
            <div *ngIf="userAlreadyReg" class="alert alert-danger">Username already exist!</div>
            <div *ngIf="accountSucc" class="alert alert-success">Account created, please login</div>
            <!--<img class="user-avatar" src="assets/images/logo.png" width="150px" />-->
            <h1>User Register</h1>
            <form [formGroup]="forms">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            #fullName
                            formControlName="fullName"
                            type="text"
                            ng-model="fullName"
                            class="form-control input-underline input-lg"
                            id="fullName"
                            placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input
                            #username
                            formControlName="username"
                            type="text"
                            ng-model="username"
                            class="form-control input-underline input-lg"
                            id="username"
                            placeholder="User Name">
                    </div>

                    <div class="form-group">
                        <input
                            #employeeId
                            formControlName="employeeId"
                            type="text"
                            ng-model="employeeId"
                            class="form-control input-underline input-lg"
                            id="employeeId"
                            placeholder="Employee ID">
                    </div>

                    <div class="form-group">
                        <input
                            #password
                            formControlName="password"
                            type="password"
                            ng-model="password"
                            class="form-control input-underline input-lg"
                            id="password"
                            placeholder="Password">
                    </div>

                    <div class="form-group">
                        <input
                            #confirmPass
                            (ngModelChange)="confirmPassword($event)"
                            formControlName="confirmPass"
                            type="password"
                            ng-model="confirmPass"
                            class="form-control input-underline input-lg"
                            id="confirmPass"
                            placeholder="Confirm Password">
                    </div>

                    <div class="form-group">
                        <select
                            #role
                            formControlName="role"
                            ng-model="role"
                            id="role"
                            placeholder="Confirm Password"
                            class="form-control">
                                <option>PM</option>
                                <option>SA</option>
                                <option>PG</option>
                        </select>
                    </div>

                </div>
                <a class="btn rounded-btn" (click)="onSignUp(fullName, username, employeeId, password, role, confirmPass)"> Register </a>&nbsp;
            </form>
        </div>
    </div>
</div>
